<h1> Add New Cat! </h1>

<form action = "create", method = "post"> 

<label for="name">Name</label>
<input id="name", type="text", value="">

<label for="sex">Sex</label>
<input id="sex", type="text", value="">

<label for="birthdate">Date Of Birth</label>
<input id="birthdate", type="date", value="">

   <label for="color"> Color </label>
        <select name="color" id="color">
            <option selected = "true" disabled ="true">Choose a Color</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>




<label for="birthdate">Date Of Birth</label>
<input id="birthdate", type="date", value="">




</form>