<h1> Add New Cat! </h1>

<form action="/cats", method="post"> 

    <label for="name">Name</label>
    <input id="name" type="text" >
    <br><br>
<!--
    <label for="sex">Sex</label>
    <input id="sex", type="text", name="cat[sex]">
    <br><br>

    <label for="birthdate">Date Of Birth</label>
    <input id="birthdate", type="date", name="cat[birthdate]">
    <br><br>

    <label for="color"> Color </label>
        <select name="cat[color]">
            <option disabled selected>-- Choose a Color --</option>
            <option value="white">white</option>
            <option value="black">black</option>
            <option value="gray">gray</option>
            <option value="brown">brown</option>
        </select>
    <br><br>

    <label for="description">Description</label>
    <textarea id="description" name="cat[description]"></textarea>
    <br><br>
-->

    <input type="submit" value="Submit">

</form>

